#hero{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
#hero .content{
    position: absolute;
    left: 8%;
    z-index: 3;
    padding: 2rem;
}
#hero  .content h1{
    font-weight: 300;
    font-size: 6rem;
    color:white;
}
#hero  .content h2{
    font-weight: 900;
    font-size: 5rem;
    color: #ffffff;
}
#hero  .content button{
    background: transparent;
    border: none;
    outline-color: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    color: yellow;
}
#hero  .content button:hover, #hero  .content button:active{
    border-bottom: .2rem solid white;
    margin-bottom: -.2rem;
}
#hero .picture{
    width: 50%;
    position: relative;
}

#hero .picture img{
    width: 100%;
}